hello from add_student!

<%= form_for(@course, url: courses_path, method: :post) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.number_field :teacher_id, value: @teacher.id %>

  <div class="field">
    <%= f.select :student_id, Student.all.collect { |p| [ p.name, p.id ] } %>
  </div>
  <div class="field">
      <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>